<!DOCTYPE html>
<html lang="en">

<head>
   <title>Modificar un registro</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="shortcut icon" href="../assets/favicon-32x32.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@600&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/6da7673045.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navPrincipal">
            <div class="navBrand">
                <a href="../index.html"><img src="../assets/logo.png" alt="Logo de la empresa" /></a>
            </div>
            <div class="navTitle">
                <p>EcoTienda</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./catalogo.html">Catalogo</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!-- MAIN -->

    <main>

         <div class="container" id="app">
            <form id="subForm" style="background-color: #80ed99; margin:10px auto; width: 40%; padding: 30px;">
                <h1>Modifique el usuario</h1>
                <br>
            <div class="formBox">
              <label for="id">Id</label>
              <input type="number" name="id" id="id" disabled v-model="id">
            </div>
            <div class="formBox">
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre" v-model="nombre">
              </div>
              <div class="formBox">
                <label for="apellido">Apellido: </label>
                <input type="text" name="apellido" id="apellido" v-model="apellido">
              </div>
              <div class="formBox">
                <label for="dni">DNI: </label>
                <input type="number" name="dni" id="dni" v-model="dni">
              </div>
              <div class="formBox">
               <label for="telefono">Teléfono: </label>
               <input type="number" name="telefono" id="telefono" v-model="telefono">
              </div>
              <div class="formBox">
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" v-model="email">
              </div>
              <div class="formBox">
                <label for="clave">Clave: </label>
                <input type="text" name="clave" id="clave" v-model="clave">
              </div>
              <br>
            <button type="button" class="btn btn-success" v-on:click="modificar()">Modificar</button>
            <br>
            <a href="./admin_usuario.html" class="btn btn-secondary"> Volver a administrar usuarios</a>
            </form>
          </div>

        <div class="wspBtn"><a href="https://web.whatsapp.com/" target="_blank"><img src="../assets/WhatsApp.svg.png"
                    alt=""></a></div>

    </main>

    <!-- ! Footer -->

    <footer>
        <ul>
            <li>
                <a target="_blank" href="https://www.facebook.com/ecologiaverde/?locale=es_LA"><i
                        class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a target="_blank"
                    href="https://twitter.com/ecologiaverde?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                        class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://theecologist.org/"><i class="fa-solid fa-newspaper"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.youtube.com/@EcologiaVerde"><i
                        class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </footer>

    <!--Link de Bootstrap-->

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js">
  </script>  

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script src="../js/usuarios_editar.js"></script>

</body>

</html>